.top-menu-mobile,
.footer-menu-mobile,
.menu-mobile-icon{
	display:none;
}
@media (max-width:991px){
	.top-menu-mobile,
	.footer-menu-mobile{
		display:block;
	}
	.flag-lang{
		display:none;
	}
	.top-menu-mobile ul:after,
	.footer-menu-mobile:after{
		clear:both; display:block; content:"."; visibility:hidden; overflow:hidden; height:0;
	}
	.top-menu-mobile ul{
		padding-top:10px;
		padding-left:20px;
		padding-right:20px;
		padding-bottom:10px;
		text-align:right;
	}
	.top-menu-mobile ul li{
		display:inline;
		padding-right:6px;;
	}
	.top-menu-mobile ul li a{
		text-decoration:underline;
	}
	.top-menu-mobile ul li:first-child{
		padding-left:0;
	}
	.footer-menu-mobile ul li{
		padding-bottom:5px;
	}
	.footer-menu-mobile{
		border-top:solid 1px #ccc;
		padding:10px 20px;
		background:#2e82c0;	
			
	}
	.footer-menu-mobile ul li a{
		text-decoration:none; color:#fff;
	}
	.footer-menu-mobile ul{
		width: 46%;
		float:left;
	}
	.footer-menu-mobile ul:last-child{
		float:right;
	}
	
	
	#wraper, header, footer, .right .contend, .right, .main .left{
		width:auto;
		padding:0;
		margin:0;
		height:auto;
		min-height: 0;
	}
	.logo-hotline{
		display:none;
	}
	
	header .logo{
		float:none;
		width: auto;
		height: auto;
		background-size: contain;
		text-align: center;
		padding: 10px 0;
	}
	header .logo img{
		width: 160px;
		height:auto;
	}
	header .banner{
		width: auto;
		float:none;
		display:none;
	}
	.left-vertical-menu{
		display:none;
	}
	.main{
		min-height:0;
	}
	.main .left .left1{
		height:auto;
		padding:0;
		border:0;
		min-height:0;
		width:auto;
	}
	.main .left{
		min-height:0;
		float:none;
	}
	.right .contend{
		min-height:auto;
		border:0;
		padding-left:20px;
		padding-right:20px;
	}
	.duongdan{
		line-height: 16px;
		height: auto;
		padding-bottom: 15px;
	}
	.right .duongdan, 
	.article-block,
	footer{
		padding-right:20px;
		padding-left:20px;
	}
	footer{
		padding-top:20px;
		padding-bottom:20px;
		text-align:left;
	}
	footer h4{
		font-size:15px;
		margin-bottom: 10px;
	}
	.left{
		margin-bottom:20px;
	}
	.fl{
		float:none;
	}
	.article-block .content-block li{
		line-height:19px;
	}
	.home-box .project-box,
	.home-box .news-box{
		float:none;
		width:auto;
	}
	.home-box .news-box .one .news-title{
		line-height:19px;
	}
	.gallery-list{
		margin-bottom:10px;
	}
	a.view-all-project{
		margin-top:10px;
	}
	.right .content2{
		width: auto;
		min-height:0;
	}
	.info_contend{
		position:static;
	}
	.video-item{
		width: auto;
		float:none;
	}
	.video-item .video-title{
		margin-bottom: 20px;
	}
	
	.product-item-box{
		width: 45%;
		padding-left:0;
		padding-right:0;
		height:auto;
		margin-right:3%;
		border-radius:0;
		
	}
	.small-product-name{
		padding-left:5px;
		padding-right:5px;
	}
	.small-product-image img{
		width:100%;
		height:auto;
	}
	.small-product-image a{
		display: block;
	}
	
	.product-item-box:nth-child(2n){
		margin-right:0;
		float:right;
	}
	.product-item-box:nth-child(2n+1){
		clear:left;
	}
	.project-list .project-image img{
		width: 100%;
		height:auto;
	}
	.gallery-list .img-item{
		width: 46%;
		border-radius:0;
	}
	.gallery-list .img-item a img{
		height:auto;
	}
	.gallery-list .img-item:nth-child(4n+1){
		clear:none;
	}
	.gallery-list .img-item:nth-child(2n+1){
		clear: left;
	}
	.gallery-list .img-item:nth-child(2n){
		margin-right:0;
	}
	.image-detail img{
		width:100%;
		height:auto;
	}
	.image-detail table{
		width:100%;
		
	}
	.fb-like-box{
		width:320px;
		overflow:hidden;
	}
	
	.item-download-row .product-name, .item-download-row .file-listing {
		margin-left:0;
		float:none;
		width:auto;
	}
	.contact-form .caption-form,
	.contact-form .data-form{
		margin-left:0;
		width:auto;
		float:none;
	}
	.contact-form .data-form .textbox{
		width:90%;
	}
	
	.menu_top{
		border-radius:0;
		height:auto;		
		position:relative;
	}
	.menu-mobile-icon{
		    position: absolute;
			width: 27px;
			height: 27px;
			right: 10px;
			top: 2px;
			display:block;
	}
	.menu_top .search{
			width: 70%;
			height: 27px;
			margin: 0;
			padding-top:4px;
			padding-bottom:4px;
	}
	.menu_top nav{
		width:auto;
		float:none;
		height:auto;
		margin-left:0;
	}
	.menu_top nav ul li:hover{
		background:#2e82c0;
	}
	.menu_top nav ul li{
		float:none;
		width:auto;
		background:none;
		width:auto !important;
		padding-left:0;
		padding-right:0;
		border-bottom:solid 1px #033d6b;
	}
	.menu_top nav ul li a{
		padding-left:20px;
	}
	.menu_top nav ul li.nav-style2{
		text-align:left;
		padding-left:0;
	}
	.menu_top nav ul li.nav-style2 a{
		text-align:left;
		display:block;
		height:auto;
		line-height:40px;
	}
	.drop1{
		display:block;
		border:0;
		position:static;
		background:#497494;
	}
	.drop1 li{
		min-width: auto !important;
		border:0;
		min-height: 0 !important;
		display: block;
		padding-left: 21px !important;
    
	}
	
	.menu_top nav{
		display:none;
	}
	.menu_top nav.active{
		display:block;
		background:#2e82c0;
	}
	.footer-content .f-box.cty-box,
	.footer-content .f-box	{
		width: auto;
		float: none;
		margin-bottom: 20px;
	}
}

@media (max-width:375px){
	.image-detail,
	.more-info-product{
		width:320px;
		overflow-x:auto;
	}
}